@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:wght@100;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

.d-body {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FB6B6B;
	flex-direction: column;
	margin: auto;
	width: 375px;
	height: 100vh;
}

.d-container {
	box-sizing: border-box;
	overflow: auto;
	overflow-x: hidden;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100vw;
	height: 100vh;
	text-align: center;
	background: #FB6B6B;
}

.d-header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo-small {
	position: relative;
	width: 52px;
	height: 60px;
	margin: 42px 0px 51px 0px;
}

.d-title {
	position: relative;
	width: 203px;
	height: 44px;
	margin: 48px 0px 59px 0px;
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;
	letter-spacing: -0.012em;
	color: #FFFFFF;
	transform: rotate(0.58deg);
}
